:root  
    --pink : #e91e63
body
    box-sizing : border-box
    margin: 0
    padding: 0




.navbar
    background-color: #333
    width: 100%
    box-sizing: border-box
    padding: 5px 30px
    color: white
    display: grid 
    align-content: center
    grid-template-columns: 150px 1fr 200px
    box-shadow: 0 2px 4px #aaa
    //position: fixed
    &__logo
        letter-spacing: 2px
        font-size: 20px
        font-family: sans-serif
    &__search
        display: grid 
        grid-template-columns: 1fr
        padding: 0 80px 0 0
    &__other
        display: flex
        justify-content: space-around
        align-items: center
        color: white



.search__form
    align-items: center
    display: grid 
    grid-template-columns: 1fr 80px

    input
        padding: 10px
        border-radius: 10px 0 0 10px
        border: 1px solid transparent 
        box-shadow: 1px 1px 3px #999
        outline: none
        letter-spacing: 1px
        color: #333
        fonts-size: 14px
        &::placeholder
            font-size: 12px
            letter-spacing: 1px

    button
        position: relative
        z-index: 5
        color: black
        padding: 4px 10px 4px 10px
        background-color: #e91e63
        border: 1px solid transparent
        box-shadow:  1px 1px 3px #999
        border-radius: 0 10px 10px 0
        outline: none
        transition: all .5s ease-in
        &:hover
            box-shadow: 2px 2px 5px #999
    

.footer
    display: flex
    justify-content: center 
    align-items: center
    padding: 20px
    background-color: #333
    color: white

.container
    width: 1200px
    margin: 0 auto
    min-height: 95vh

.wishlist__empty
    width: 100%
    height: 100vh
    background-color: #eee
    margin: auto
    display: flex 

    flex-direction: column
    justify-content: center 
    align-items: center

    
        

.products 
    padding: 20px
    display: grid
    grid-template-columns: repeat( auto-fit, 240px )
    grid-gap: 30px
    justify-content: center
.product
    width: 100%



.pagination
    &__list
        display: flex
        list-style: none
        width: 400px
        justify-content: space-between
        margin: 0 auto
        margin-top: 40px
        margin-bottom: 20px
        box-sizing: border-box
        padding-inline-start: 0px
        
        li button
            padding: 10px
            background-color: transparent
            border: 1px solid transparent
            width: 40px
            outline: none
            color: #f50057
            transition: all 0.5s ease-out
            font-weight: bold
            &:hover
                background-color: #ff80ab
                color: white
            &:active, &:focus
                background-color: #f50057
                color: white
                outline:none


.login
    width: 100%
    height: 100vh
    background-color: #c2185b
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &__logo
        color: : white 
        font-size: 26px
        font-family: sans-serif
        margin-bottom: 30px
        letter-spacing: 3px
        animation: fromtop 1s ease-in-out
        position: relative
        -webkit-backface-visibility: hidden
        
    &__form
        border-radius: 10px
        box-shadow: 0px 0px 7px #666
        width: 400px
        height: 400px
        background-color: #fff
        display: grid
        grid-template-columns: 1fr
        padding: 30px
        justify-content: center
        position: relative
        animation: frombottom 0.7s
        button
            margin-top: 20px
        
        &__bottom
            display: flex 
            margin-top: 20px
            justify-content: center
            align-items: center
            color: #777
            font-family: sans-serif
            a
                color: #f06292
                margin-left: 20px
    &__title
        display: flex 
        justify-content: center
        color: #f06292
        font-size: 20px
        font-family: sans-serif
        letter-spacing: 2px
        text-transform: uppercase
            


.authlink
    text-decoration: none
    color: #e91e63
    font-family: sans-serif
    font-weight: bold
    letter-spacing: 2px




.user
    position: relative
    
    &:hover ul.userlist
        display: block
        list-style: none
        
.userlist
    display: none
    position: absolute
    background-color: #e91e63
    right: 10px
    top: 30px
    padding: 20px 0
    width: 80px
    list-style: none
    z-index: 10
    border-radius: 3px
    box-shadow: 0 0 6px #777
    padding: 20px 30px

    &__item
        padding: 5px
        list-style: none
        white-space: nowrap
        color: #333
        text-decoration: none
        font-family: sans-serif
        letter-spacing: 2px
        font-size: 14px

        &:hover, &:active  
            color: #fff
            font-weight: bold
            cursor: pointer

        a
            color: #333
            text-decoration: none
            font-family: sans-serif
            letter-spacing: 2px
            font-size: 14px

            &:hover
                color: #fff
 

.productdetail
    display: grid
    grid-template-columns: 300px 1fr
    padding: 30px
    grid-gap: 30px 30px
    color: #444
    font-family: sans-serif
    
    p
        font-weight: bold
        color: #444
        font-size: 14px
    
.imagediv
    display: grid
    grid-template-columns: 1fr
    
    &__image__big
        height: 300px

    img
        width: 100%
        box-shadow: 0 0 10px #999
        border-radius: 3px
        cursor: pointer
        display: block 
        transition: all .4s

        &:hover
            transform: scale(1.05)

    &__small
        margin-top: 20px
        display: flex 
        justify-content: space-between
        height: 160px

    &__small img 
        width: 130px
        border: 1px solid grey
    
.colorcont
    width: 400px
    display: flex

    &__colordiv
        width: 60px
        height: 35px
        background-color: transparent
        border: 2px solid #ccc
        margin: 0 3px
        border-radius: 3px
        cursor: pointer

        &:hover
            border: 2px solid #e91e63


.coloractive
    border: 2px solid #e91e63

.Black
    background-color: #000

.White 
    background-color: #fff

.Red
    background-color: #f44336

.Orange
    background-color: #ff9800

.Yellow
    background-color: #ffeb3b

.Green 
    background-color: #4caf50

.Blue 
    background-color: #2196f3

.Indigo
    background-color: #3f51b5

.Purple 
    background-color: #9c27b0

.sizecont
    display: flex 
    width: 400px

    &__sizediv
        width: 50px
        height: 30px
        background-color: var(--pink)
        display: flex
        justify-content: center
        align-items: center
        color: white
        margin: 0 3px
        border-radius: 3px
        font-family: sans-serif
        font-weight: bold
        letter-spacing: 1px
        cursor: pointer

        &:hover
            background-color: grey

.sizeactive

    background-color: grey

p.imagedesc__description
    font-weight: normal

.pricediv
    p
        margin: 0
        padding: 0
        padding: 1px
        font-size: 18px
        color: var(--pink)
        font-weight: bold
        

        span
            width: 80px
            font-size: 14px
            color: #444
            display: inline-block

.line-through
    text-decoration: line-through

.title
    display: flex
    justify-content: center
    font-size: 26px
    font-family: sans-serif
    letter-spacing: 2px
    color: var(--pink)

.alert 
    position: fixed
    right: 20px
    top: 20px
    background-color: var(--pink)
    padding: 20px
    z-index: 20
    border-radius: 3px
    color: white 
    font-weight: bold
    display: block
    transition: right 1s ease
    box-shadow: 0 0 8px #888

.alert-hidden
    right: -100%

p.error
    color: red
    font-weight: normal

.button
    border: none
    background-color: transparent
    height: 25px
    padding: 0px
    margin: 0px
    outline: none
    cursor: pointer
    border-radius: 50px
    
    &:hover
        background-color: #f8bbd0

.button__quantity
    display: flex
    align-items: center
    
.button__text
    padding: 0 10px

.button__wish
    border-radius: 3px
    text-decoration: underline
    color: var(--pink)
    
    &:hover
        background-color: transparent
        text-decoration: none

.order
    
    box-sizing: border-box
    display: grid 
    grid-template-columns: 1fr 350px
    background: url(../assets/shopping.jpg) no-repeat center center fixed
    background-size: cover 
    width: 100%
    font-size: 20px
    min-height: 100vh
    overflow: hidden

    &__form
        grid-column: 2/-1
        box-sizing: border-box
        display: flex 
        flex-direction: column
        
        padding: 20px
        background-color: rgba(255,255,255, 0.7)
    
    &__select
        display: flex
        flex-direction: column
        & select
            padding: 5px
            border-radius: 5px
            font-size: 18px
            color: #444
            background-color: transparent !important
            

    &__p
        margin-block-start: 0px
        margin-block-end: 0px
        margin: 4px 0
        font-family: Arial
        font-size: 18px
.error__message
    margin-block-start: 0px
    margin-block-end: 0px

.checkout
    background: url(../assets/checkout.jpg) no-repeat center center fixed
    background-size: cover 
    width: 100%
    min-height: 100vh
    display: grid 
    grid-template-columns: 400px 1fr

    &__form
        padding: 30px
        background-color: rgba(255,255,255,0.7)
        min-height: 100vh
        display: flex 
        flex-direction: column
        & > div, & > input
            outline: none
            padding: 10px
            border: 2px solid var(--pink)
            border-radius: 5px
            background-color: rgba(255,255,255, 0.7)
.profile 
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 20px
    margin-bottom: 40px
    padding: 20px

    form 
        grid-column: 1/2
        display: grid 
        grid-template-columns: 1fr
        grid-gap: 20px
.select
    color: #444
    select 
        padding: 10px
        border-radius: 3px 
        width: 100%
        color: #333
        font-size: 16px
        outline: none
    &__p
        margin-block-start: 0px
        margin-block-end: 0px
        margin-bottom: 10px
        font-family: sans-serif
        font-size: 14px
        color: #444
    &__error
        margin-block-start: 0px
        margin-block-end: 0px
        color: red 
        font-size: 12px
        margin-top: 10px
.ordertable
    width: 100%
    font-family: sans-serif
    &__row
        display: flex
        justify-content: space-between
        padding: 10px
        align-items: center
        color: #444
        

        &:nth-child(odd)
            background-color: rgb(253,253,253)
            
        &:nth-child(even)
            background-color: rgb(250,250,250)

        &:hover
            cursor: pointer
            background-color: rgb(245,245,245)
        &:first-of-type 
            background-color: var(--pink)

        

        & > div
            padding: 5px

    &__header
        background-color: var(--pink)
        color: white
        text-transform: uppercase
        border-radius: 3px 3px 0 0
        font-weight: bold
        justify-content: center
        display: grid 
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr
.modal
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    z-index: 2000
    background-color: rgba(0,0,0,0.5)
    &__container
        padding: 30px
        font-size: 11px !important
        width: 300px
        position: absolute
        border-radius: 3px
        border: 1px solid transparent
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background-color: #eee
    &__close
        text-align: right
        cursor: pointer
        &:hover
            color: var(--pink)
        

@media only screen and (max-width: 1200px)
    .container
        width: 100%

@media only screen and (max-width: 800px)
    .container
        background-color: green
@media only screen and (max-width: 810px)
    .navbar
        grid-template-columns: 1fr

        &__logo
            display: flex 
            justify-content: center
        &__search
            padding: 0
            padding-bottom: 15px

        &__other
            grid-row: 2/3
            margin-bottom: 10px

@media only screen and (max-width: 600px)
    .order
        grid-template-columns: 1fr
        
        &__form
            width: 100%
            grid-column: 1
@media only screen and (max-width: 610px)
    .checkout
        grid-template-columns: 1fr
@media only screen and (max-width: 510px)
    .order
        &__form
            padding: 20px
            width: calc(100vw-15px)

@media only screen and (max-width: 830px)
    .profile       
        grid-template-columns: 1fr

        form 
            grid-column: 1/-1
    
@keyframes fromtop
    0%
        top: -100%
    90%
        top: 0
    100%
        top: 0

@keyframes frombottom
    0%
        bottom: -100%

    100%
        bottom: 0